html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--charcoal-grey);
  overflow-y: scroll;
  color: var(--dark-slate-grey);
}

@keyframes fadeInCenter {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeOutTop {
  0% {
    transform: translateY(0%);
    opacity: 100%;
  }
  100% {
    transform: translateY(100%);
    opacity: 0%;
  }
}

main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 950px;
  min-height: min-content;
  min-width: min-content;
  border-radius: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow: 0px 20px 50px var(--dark-slate-grey);
  overflow-y:scroll;
}

.main_hidden {
  animation: fadeOutTop 0.3s ease-in-out;
}

.main_show {
  animation: fadeInCenter 0.3s ease-in-out;
}
