.advantages {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  &-list {
    &__element {
      position: relative;
      margin-bottom: 0.7rem;
      line-height: 1.5rem;

      &::before {
        position: relative;
        content: url(../../../images/icon-success.svg);
        top: 4px;
        padding-right: 0.8rem;
      }
    }
  }
}
